/*PAGE TOP*/
.pagetop-show {display: block;}

.pagetop a {
	display: block;text-decoration: none;text-align: center;z-index: 99;
	position: fixed;
	right: 20px;
	bottom: 20px;
	color: #fff;
	font-size: 1.5rem;
	background: rgba(0,0,0,0.2);
	width: 60px;
	line-height: 60px;
	border-radius: 50%;
}

/*footer*/
.Grrid {
	gap: 1rem;
	margin-bottom: 1.5rem;
}

.footer {
	padding: 2rem;
	font-size: 15px;
	color: #4b5564;
	background: #fff;
}
  
.footer__logo {
	display: inline-block;
	margin-bottom: 2rem;
}

.footer__address {
	margin-bottom: 2rem;
	font-style: normal;
}
  
.footer__navi li {
	margin-bottom: 0.75rem;
}
  
.footer__social a {
	display: inline-block;
	width: 24px;
	opacity: 0.7;
}
  
.footer__social a:not(:last-child) {
	margin-right: 16px;
}
  
@media (min-width: 768px) {
	.md-flex {
	  display: flex;
	}
  
	.md-justify-between {
	  justify-content: space-between;
	}
  
	.grid {
	  grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}