/*root*/
:root {
	--text-color: #303030;
	--primary-color: #1C3177;
	--primary-text-color: #eeeeee;
	--global-space: 5vw;
}

/*keyframes*/
@keyframes animation1 {
	0% {left: -200px;}
	100% {left: 0px;}
}

@keyframes opa1 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;transform: scale(0.8);}
	100% {opacity: 1;transform: scale(1);}
}


/*common*/
body * {box-sizing: border-box;}
html,body {
	height: 100%;
	font-size: 16px;
}

	@media screen and (min-width:900px) {
		html, body {font-size: 20px;}
    }

body {
	margin: 0;padding:0;
	font-family: "Noto Sans", "Noto Sans JP",sans-serif;
	font-optical-sizing: auto;
	-webkit-text-size-adjust: none;
	color: var(--text-color);
	line-height: 2;
}

table {border-collapse:collapse;}

img {border: none;max-width: 100%;height: auto;vertical-align: middle;}

video {max-width: 100%;}

iframe {width: 100%;}

input {font-size: 1rem;}
section + section {
	margin-top: 3rem;
}

a {
	color: var(--text-color);
	transition: 0.3s;
	text-decoration: none;
}

a:hover {
	color: var(--primary-color);
}

ul {
	padding: 0;
	list-style: none;
}

 /* Loading */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #1C3177;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Scroll down */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

.scroll_down{
  position:absolute;
  bottom: 0px;
  left: 50%;
}

.scroll_down a{
  position: absolute;
  left: 10px;
  bottom: 87px;
  color: #000;
  font-size: 14px;
  letter-spacing: .2em;
  writing-mode: vertical-lr;
  text-decoration: none;
  text-transform: uppercase;
}

.scroll_down:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -4px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background:#000;
  animation:
    circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}

@keyframes circlemove{
  0%{bottom:160px;}
  100%{bottom:0px;}
}

@keyframes cirlemovehide{
  0%{opacity:0}
  50%{opacity:1;}
  80%{opacity:0.9;}
  100%{opacity:0;}
}

.scroll_down:after{
  content:"";
  position: absolute;
  bottom:0;
  left:0;
  width:2px;
  height: 160px;
  background:#000;
}

/*mainimg*/
#mainimg {
	background-image: url('https://t2biomod2024.github.io/2024/pics/title-1.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}


/*container*/
body:not(.home) #container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


/*content*/
#contents {
	flex: 1;
	padding: var(--global-space);
	background-image: url("https://t2biomod2024.github.io/2024/pics/texture.jpg");
    background-size: cover;
    background-position: center;
    background-color: #eeeeee;
    background-blend-mode: multiply;
}

	@media screen and (max-width:600px) {
	#contents {padding-top: 80px;}
	}


/*logo*/
#logo img {
	display: block;
	width: 300px;
}


/*main*/
main h2 {
	font-family: "Noto Sans", "Noto Sans JP", sans-serif;
	font-size: 3rem;
	letter-spacing: 0.1em;
	color: var(--text-color);
}

.bg1 h2, .bg2 h2, .bg3 h2 {
	color: var(--primary-text-color);
}

main h2 .hosoku {
	display: block;font-weight: normal;
	font-size: 0.3em;
}

main h3 {
	display: inline-block;
	border-bottom: 3px solid var(--text-color);
}

.bg1 h3, .bg2 h3,.bg3 h3 {
	display: inline-block;
	border-bottom: 3px solid var(--primary-text-color);
}


/*fadeIn*/
.fade-in-text {
    visibility: hidden;
}

.char {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.05s linear both;
}


/*list-grid1*/
.list-grid1 {
	display: grid;
	color: #555;
}

.list-grid1 .list {
    display: grid;
}

.list-grid1 .list * {
	margin: 0;padding: 0;
}

.list-grid1 .list p {
	font-size: 0.85rem;
}

	@media screen and (min-width:500px) {
	.list-grid1 {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
	}

	@media screen and (min-width:800px) {
	.list-grid1 {
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}
	}

.list-grid1 .list {
	padding: 1rem;
	background: #fff;
    grid-template-rows: auto 1fr;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}

.list-grid1 .list figure img {
	margin-bottom: 0.5rem;
}


/*button*/
.btn a,
.btn-border-radius a {
	display: block;text-decoration: none;
	font-size: 1rem;
	text-align: center;
	background: var(--primary-color) !important;
	color: var(--primary-text-color) !important;
	padding: 0.5rem !important;
	margin-top: 1rem !important;
}

.btn a:hover,
.btn-border-radius a:hover {
	filter: brightness(1.2);
}

.btn-border-radius a {
	display: inline-block;
	padding: 0.5rem 2rem !important;
	border-radius: 100px;
	background: #1C3177 !important;
}


/*ca-menu*/
.ca-menu{
    padding: 0;
    margin: 20px auto;
    width: 500px;
}
.ca-menu li:hover{
    background-color: #000;
    z-index:999;   
    transform: scale(1.1);  
}
.ca-menu li:hover .ca-icon{
    color: #ccff00;
    font-size: 90px;
    opacity:0.3;
}
.ca-menu li:hover .ca-icon#heart{
    animation: smallToBig 900ms alternate infinite ease;
}
.ca-menu li:hover .ca-main{
    color: #ccff00;
    animation: smallToBig 300ms ease;
}
.ca-menu li:hover .ca-sub{
    color: #ccff00;
    animation: moveFromBottom 500ms ease;
}
.ca-content{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50%;
    top: 50%;
}
.ca-main{
    font-size: 30px;
    color: #005382;
    opacity: 0.8;
    text-align: center;
    transition: all 200ms linear;
}
.ca-sub{
    text-align:center;
    font-size: 14px;
    color: #666;
    line-height: 40px;
    opacity: 0.8;
    transition: all 200ms linear;
}
.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    color: #c5e4f4;
    font-size: 90px;
    text-shadow: 1px 0px 1px rgba(255,255,255,0.7);
    line-height: 150px;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0px;
    top: 0px;
    text-align: center;
    transition: all 200ms linear;
}


/*background*/
.bg1, .bg2, .bg3 {
	position: relative;
	background: var(--primary-color);
	color: var(--primary-text-color);
	padding-top: 5vw;
	padding-bottom: 5vw;
	padding-left: var(--global-space);
	padding-right: var(--global-space);
}

.bg1, .bg2 {
	margin-top: 10vw;
	margin-bottom: 10vw;
	margin-left: calc(-1 * var(--global-space));
	margin-right: calc(-1 * var(--global-space));
}

.bg1 a, .bg2 a, .bg3 a{
	color: inherit;
}

.bg1::before, .bg1::after, .bg2::before, .bg2::after{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: calc(5vw + 1px);
	background: var(--primary-color);
}

.bg1::before {
	top: -5vw;
	clip-path: polygon(0 100%, 100% 20%, 100% 100%);
}

.bg1::after {
	bottom: -5vw;
	clip-path: polygon(0 0, 100% 0, 0 80%);
}

.bg2::before {
	top: -5vw;
	clip-path: polygon(0 100%, 0 20%, 100% 100%);
}

.bg2::after {
	bottom: -5vw;
	clip-path: polygon(100% 0, 0 0, 100% 80%);
}

/*thumbnail*/
.thumbnail-view-parts {
	max-width: 1000px;
	margin: 0 auto 1rem;
	text-align: center;
}

.thumbnail-parts {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

.thumbnail-parts img {
	width: 100px;
	margin: 2px;
	cursor: pointer;
	transition: 0.3s;
}

.thumbnail-parts img:hover {
	opacity: 0.8;
}


/*table*/
.ta1 caption {
	font-weight: bold;
	padding: 0.5rem 1rem;
	background: var(--primary-color);
	margin-bottom: 1rem;
	border-radius: 5px;
}

.ta1 {
	table-layout: fixed;
	border-top: 1px solid #ccc;
	width: 100%;
	margin-bottom: 5rem;
}

.ta1 tr {
	border-bottom: 1px solid #ccc;
}

.ta1 th, .ta1 td {
	padding: 1rem;
	word-break: break-all;
}

.ta1 th {
	width: 30%;
	text-align: left;
}

	@media screen and (min-width:900px) {
		.ta1 th {
			width: 20%;
		}
	}


/* VIDEO */
.video-container {
    width: 50%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    position: relative;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/*Other*/
.clearfix::after {content: "";display: block;clear: both;}
.color-check, .color-check a {color: #ff0000 !important;}
.l {text-align: left !important;}
.c {text-align: center !important;}
.r {text-align: right !important;}
.ws {width: 95%;display: block;}
.wl {width: 95%;display: block;}
.mb0 {margin-bottom: 0px !important;}
.mb30 {margin-bottom: 30px !important;}
.look {display: inline-block;padding: 0px 10px;background: #eee;color: #333;border: 1px solid #ccc; border-radius: 3px;margin: 5px 0; word-break: break-all;}
.small {font-size: 0.75em;}
.large {font-size: 2em; letter-spacing: 0.1em;}
.pc {display: none;}
.dn {display: none !important;}
.block {display: block !important;}

@media screen and (min-width:900px) {
.ws {width: 48%;display: inline;}
.sh {display: none;}
.pc {display: block;}
}