header {
	background: rgba(238, 238, 238, 0);
}


/*---------------------------------------
  SECTION              
-----------------------------------------*/
/* HERO */
#Hero-area {
    background-image: url('https://t2biomod2024.github.io/2024/pics/title-1.gif'), url('https://t2biomod2024.github.io/2024/pics/title-2.png');
    background-size: 50%, cover;
    background-position: top 55% right 43%, center;
    background-color: #7f96c2;
	background-blend-mode: normal;
	background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* MOVIE */
.Movie-area {
	position: relative;
	background: var(--primary-color);
	color: var(--white-color);
	padding: var(--global-space);
	margin-left: calc(-1 * var(--global-space));
	margin-right: calc(-1 * var(--global-space));
	margin-bottom: 10vw;
	margin-top: 10vw;
}
.Movie-area::before, .Movie-area::after{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: calc(5vw + 1px);
	background: var(--primary-color);
}
.Movie-area::before {
	top: -5vw;
	clip-path: polygon(0 100%, 100% 20%, 100% 100%);
}
.Movie-area::after {
	bottom: -5vw;
	clip-path: polygon(0 0, 100% 0, 0 80%);
}
.Movie-area a{
	color: inherit;
}

/* CONTENTS */
.Contents-area {
	background-size: cover;
	width: 100%;
	margin: 0 auto 10vh;
	padding: 20px;
}


/*---------------------------------------
  CONTAINER             
-----------------------------------------*/
/* img-container */
.img-container {
	background-image: url('https://t2biomod2024.github.io/2024/pics/team1.jpeg');
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
    width: 70%;
    height: 50vh;
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.img-container:hover::after {
    opacity: 1;
}

/* solution-container */
.solution-container {
	margin: 0 auto 10vh;
	padding-top: 100px;
	width: 100%;
	color: var(--white-color);
	padding-left: 70px;
}
.solution-container a {
	color: var(--white-color);
}

/* contents-text-container */
.contents-text-container {
    display: flex;
    flex-direction: column;
}

/* video-container */
.video-container {
    width: 50%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    position: relative;
}
.video-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.tab-container{
	margin-left: auto;
	margin-right: auto;
	padding-left: 20vh;
	padding-right: 20vh;
}


/*---------------------------------------
  IMG
-----------------------------------------*/
.img-contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
	z-index: 2;
	margin-bottom: 1em;
}

.img-container:hover .img-contain {
    opacity: 1;
}
.hometeam-text{
	color: #eee;
	font-size: 20px;
	padding-top: 20px;
}
.contents-title{
	font-weight: 500;
}
.lead {
	font-size: 1.1rem;
}

/*---------------------------------------
  CONTENTS-BLOCK              
-----------------------------------------*/
.contents-block {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: var(--border-radius-medium);
	position: relative;
	overflow: hidden;
	height: 100%;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
	transition: box-shadow 0.3s;
	word-wrap: break-word;
}
.contents-block div {
    flex: 1;
}
.contents-block img {
    width: auto;
    height: 200px;
    border-radius: 20px;
	background: #fff;
}
.contents-block .contents-title{
	color: #6f6f6f;
	display: inline-block;
	font-size: 24px;
	font-weight: 300;
	transition: color 0.3s;
}
.contents-block:hover {
	background-color: var(--secondary-color);
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	transform: translateY(-3px);
	text-decoration: none;
}
.contents-block:hover * {
    text-decoration: none;
}
.contents-block > a {
	width: 100%;
}
.contents-block:hover p {
	color: #555;
	text-decoration: none;
}
.contents-block:hover .contents-title {
	color: var(--primary-color);
}
.contents-text {
	color: #A2A2A2;
	text-indent: 1em;
	font-size: 16px;
	line-height: 26px;
	transition: color 0.3s;
	margin-top: 1px;
}


/*---------------------------------------
  DIV              
-----------------------------------------*/
/*　Hero-area_down　*/
.Hero-area_down{
	background: #eee;
	overflow:hidden;
	position:relative;
	margin-left: calc(-1 * var(--global-space));
	margin-right: calc(-1 * var(--global-space));
	height: 100px;
	}
.Hero-area_down::before{ 
	content:'';
	position: absolute;
	z-index: 3;
	pointer-events: none;
	background-repeat: no-repeat;
	bottom: -0.1vw;
	left: -0.1vw;
	right: -0.1vw;
	top: -0.1vw; 
	background-size: 100% 90px;
	background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381 77.25" preserveAspectRatio="none"><g fill="%237f96c2"><path d="M381 8.47L0 42.33V0h381z"/><path d="M381 33.87L0 59.27V0h381z" opacity=".33"/><path d="M381 59.27L0 77.25V0h381z" opacity=".33"/></g></svg>'); 
}
@media (min-width:2100px){
	.Hero-area_down::before{
	background-size: 100% calc(2vw + 90px);
	}
}

/* Solution_top */
.shapedividers_solution_top{
	overflow:hidden;
	position:relative;
	margin-left: calc(-1 * var(--global-space));
	margin-right: calc(-1 * var(--global-space));
	margin-top: var(--global-space);
	height: 100px;
}
.shapedividers_solution_top::before{ 
	content:'';
	position: absolute;
	z-index: 3;
	pointer-events: none;
	background-repeat: no-repeat;
	bottom: -0.1vw;
	left: -0.1vw;
	right: -0.1vw;
	top: -0.1vw; 
	background-size: 100% 45px;
	background-position: 50% 100%;  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMin slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 77"><g fill="%231c3177"><path opacity=".5" d="M1872 3v6l-6 3-5-3V3l5-3 6 3z"/><path opacity=".3" d="M1902 7v8l7 4 7-4V7l-7-4-7 4z"/><path opacity=".75" d="M1877 8v11l10 6 9-6V8l-9-5-10 5z"/><path opacity=".5" d="M1333 3v6l-5 3-6-3V3l6-3 5 3z"/><path opacity=".3" d="M1363 7v8l8 4 7-4V7l-7-4-8 4z"/><path opacity=".75" d="M1339 8v11l9 6 10-6V8l-10-5-9 5z"/><path opacity=".5" d="M786 3v6l-5 3-5-3V3l5-3 5 3z"/><path opacity=".3" d="M817 7v8l7 4 7-4V7l-7-4-7 4z"/><path opacity=".75" d="M792 8v11l10 6 9-6V8l-9-5-10 5z"/><path opacity=".5" d="M247 3v6l-5 3-5-3V3l5-3 5 3z"/><path opacity=".3" d="M278 7v8l7 4 7-4V7l-7-4-7 4z"/><path opacity=".75" d="M253 8v11l9 6 10-6V8l-10-5-9 5z"/><path opacity=".5" d="M13 38v23l19 11 19-11V38L32 27 13 38z"/><path opacity=".3" d="M71 10v15l13 7 12-7V10L84 3l-13 7zM0 32v11l10 6 9-6V32l-9-5-10 5z"/><path opacity=".5" d="M15 14v9l8 4 7-4v-9l-7-4-8 4z"/><path opacity=".75" d="M37 22v16l14 8 14-8V22l-14-8-14 8zM208 5v9l8 5 8-5V5l-8-4-8 4z"/><path opacity=".5" d="M59 37v14l12 7 11-7V37l-11-6-12 6zM112 31v22l19 11 19-11V31l-19-11-19 11z"/><path opacity=".3" d="M170 8v11l9 6 10-6V8l-10-5-9 5zM99 25v11l10 6 9-6V25l-9-5-10 5z"/><path opacity=".5" d="M114 7v8l8 5 7-5V7l-7-4-8 4zM193 13v6l6 3 5-3v-6l-5-3-6 3z"/><path opacity=".75" d="M136 15v16l14 8 14-8V15l-14-9-14 9z"/><path opacity=".5" d="M158 30v14l12 6 11-6V30l-11-7-12 7zM516 38v22l-20 11-19-11V38l19-11 20 11z"/><path opacity=".3" d="M458 10v15l-13 7-13-7V10l13-8 13 8zM528 32v11l-9 6-10-6V32l10-5 9 5z"/><path opacity=".5" d="M511 17v7l-5 3-6-3v-7l6-3 5 3z"/><path opacity=".75" d="M491 22v16l-14 8-14-8V22l14-9 14 9zM320 5v9l-8 4-7-4V5l8-5 7 5z"/><path opacity=".5" d="M470 37v14l-12 6-12-7V37l12-7 12 7zM417 31v22l-20 11-19-11V31l19-11 20 11z"/><path opacity=".3" d="M359 8v11l-10 5-9-5V8l9-6 10 6zM429 25v11l-9 5-10-5V25l10-6 9 6z"/><path opacity=".5" d="M414 7v8l-7 4-8-4V7l8-5 7 5zM335 12v7l-5 3-5-3v-7l5-3 5 3z"/><path opacity=".75" d="M392 14v16l-14 9-14-9V14l14-8 14 8z"/><path opacity=".5" d="M371 30v13l-12 7-12-7V30l12-7 12 7zM552 38v23l19 11 19-11V38l-19-11-19 11z"/><path opacity=".3" d="M609 10v15l13 7 13-7V10l-13-7-13 7zM539 32v11l9 6 10-6V32l-10-5-9 5z"/><path opacity=".5" d="M554 14v9l8 4 7-4v-9l-7-4-8 4z"/><path opacity=".75" d="M576 22v16l14 8 14-8V22l-14-8-14 8zM747 5v9l8 5 8-5V5l-8-4-8 4z"/><path opacity=".5" d="M598 37v14l11 7 12-7V37l-12-6-11 6zM651 31v22l19 11 19-11V31l-19-11-19 11z"/><path opacity=".3" d="M708 8v11l10 6 10-6V8l-10-5-10 5zM638 25v11l9 6 10-6V25l-10-5-9 5z"/><path opacity=".5" d="M653 7v8l8 5 7-5V7l-7-4-8 4zM732 13v6l5 3 6-3v-6l-6-3-5 3z"/><path opacity=".75" d="M675 15v16l14 8 14-8V15l-14-9-14 9z"/><path opacity=".5" d="M697 30v14l11 6 12-6V30l-12-7-11 7zM1054 38v22l-19 11-19-11V38l19-11 19 11z"/><path opacity=".3" d="M997 10v15l-13 7-13-7V10l13-8 13 8zM1067 32v11l-9 6-10-6V32l10-5 9 5z"/><path opacity=".5" d="M1050 17v7l-6 3-5-3v-7l5-3 6 3z"/><path opacity=".75" d="M1030 22v16l-14 8-14-8V22l14-9 14 9zM859 5v9l-8 4-8-4V5l8-5 8 5z"/><path opacity=".5" d="M1008 37v14l-11 6-12-7V37l12-7 11 7zM955 31v22l-19 11-19-11V31l19-11 19 11z"/><path opacity=".3" d="M898 8v11l-10 5-10-5V8l10-6 10 6zM968 25v11l-9 5-10-5V25l10-6 9 6z"/><path opacity=".5" d="M953 7v8l-8 4-7-4V7l7-5 8 5zM874 12v7l-5 3-6-3v-7l6-3 5 3z"/><path opacity=".75" d="M931 14v16l-14 9-14-9V14l14-8 14 8z"/><path opacity=".5" d="M909 30v13l-11 7-12-7V30l12-7 11 7zM1090 38v23l20 11 19-11V38l-19-11-20 11z"/><path opacity=".3" d="M1148 10v15l13 7 13-7V10l-13-7-13 7zM1078 32v11l9 6 10-6V32l-10-5-9 5z"/><path opacity=".5" d="M1093 14v9l7 4 8-4v-9l-8-4-7 4z"/><path opacity=".75" d="M1115 22v16l14 8 14-8V22l-14-8-14 8zM1286 5v9l8 5 7-5V5l-7-4-8 4z"/><path opacity=".5" d="M1136 37v14l12 7 12-7V37l-12-6-12 6zM1189 31v22l20 11 19-11V31l-19-11-20 11z"/><path opacity=".3" d="M1247 8v11l10 6 9-6V8l-9-5-10 5zM1177 25v11l9 6 10-6V25l-10-5-9 5z"/><path opacity=".5" d="M1192 7v8l7 5 8-5V7l-8-4-7 4zM1271 13v6l5 3 5-3v-6l-5-3-5 3z"/><path opacity=".75" d="M1214 15v16l14 8 14-8V15l-14-9-14 9z"/><path opacity=".5" d="M1235 30v14l12 6 12-6V30l-12-7-12 7zM1593 38v22l-19 11-19-11V38l19-11 19 11z"/><path opacity=".3" d="M1535 10v15l-13 7-12-7V10l13-8 12 8zM1606 32v11l-10 6-9-6V32l9-5 10 5z"/><path opacity=".5" d="M1589 17v7l-6 3-5-3v-7l5-3 6 3z"/><path opacity=".75" d="M1569 22v16l-14 8-14-8V22l14-9 14 9zM1398 5v9l-8 4-8-4V5l8-5 8 5z"/><path opacity=".5" d="M1547 37v14l-12 6-11-7V37l11-7 12 7zM1494 31v22l-19 11-19-11V31l19-11 19 11z"/><path opacity=".3" d="M1436 8v11l-9 5-10-5V8l10-6 9 6zM1507 25v11l-10 5-9-5V25l10-6 9 6z"/><path opacity=".5" d="M1492 7v8l-8 4-7-4V7l7-5 8 5zM1413 12v7l-6 3-5-3v-7l6-3 5 3z"/><path opacity=".75" d="M1470 14v16l-14 9-14-9V14l14-8 14 8z"/><path opacity=".5" d="M1448 30v13l-12 7-11-7V30l11-7 12 7zM1629 38v23l19 11 20-11V38l-20-11-19 11z"/><path opacity=".3" d="M1687 10v15l13 7 13-7V10l-13-7-13 7zM1616 32v11l10 6 9-6V32l-9-5-10 5z"/><path opacity=".5" d="M1632 14v9l7 4 8-4v-9l-8-4-7 4z"/><path opacity=".75" d="M1653 22v16l15 8 14-8V22l-14-8-15 8zM1824 5v9l8 5 8-5V5l-8-4-8 4z"/><path opacity=".5" d="M1675 37v14l12 7 12-7V37l-12-6-12 6zM1728 31v22l19 11 20-11V31l-20-11-19 11z"/><path opacity=".3" d="M1786 8v11l9 6 10-6V8l-10-5-9 5zM1715 25v11l10 6 9-6V25l-9-5-10 5z"/><path opacity=".5" d="M1731 7v8l7 5 8-5V7l-8-4-7 4zM1809 13v6l6 3 5-3v-6l-5-3-6 3z"/><path opacity=".75" d="M1752 15v16l15 8 14-8V15l-14-9-15 9z"/><path opacity=".5" d="M1774 30v14l12 6 12-6V30l-12-7-12 7z"/><path opacity=".75" d="M1937 5v9l-8 4-8-4V5l8-5 8 5z"/><path opacity=".3" d="M1975 8v11l-9 5-10-5V8l10-6 9 6z"/><path opacity=".5" d="M1952 12v7l-6 3-5-3v-7l5-3 6 3z"/><path opacity=".75" d="M2000 35V9l-5-3-15 8v16l7 4 8 5 5-4z"/><path opacity=".5" d="M1987 30v13l-12 7-12-7V30l12-7 12 7z"/><path d="M2000 77V39l-115-22-4-1-26-5-17 3-5 1-243 47-230-44-3-1-32-6-11 2-6 1-248 48-225-43h-2l-38-8-5 1-6 1-254 49-219-42h-1l-44-9h-1l-6 1-44 9L0 62v15h2000z"/></g></svg>'); 
}
@media (min-width:2100px){
		.shapedividers_solution_top::before{
	background-size: 100% calc(2vw + 45px);
	}
}

/* Solution_down */
.shapedividers_solution_down{
	overflow:hidden;
	position:relative;
	margin-left: calc(-1 * var(--global-space));
	margin-right: calc(-1 * var(--global-space));
	margin-bottom: var(--global-space);
	height: 100px;
}
.shapedividers_solution_down::after{ 
	content:'';
	position: absolute;
	z-index: 3;
	pointer-events: none;
	background-repeat: no-repeat;
	bottom: -0.1vw;
	left: -0.1vw;
	right: -0.1vw;
	top: -0.1vw; 
	background-size: 100% 45px;
	background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 77"><g fill="%231c3177"><path opacity=".5" d="M1872 74v-6l-6-3-5 3v6l5 3 6-3z"/><path opacity=".3" d="M1902 70v-8l7-4 7 4v8l-7 4-7-4z"/><path opacity=".75" d="M1877 69V58l10-6 9 6v11l-9 5-10-5z"/><path opacity=".5" d="M1333 74v-6l-5-3-6 3v6l6 3 5-3z"/><path opacity=".3" d="M1363 70v-8l8-4 7 4v8l-7 4-8-4z"/><path opacity=".75" d="M1339 69V58l9-6 10 6v11l-10 5-9-5z"/><path opacity=".5" d="M786 74v-6l-5-3-5 3v6l5 3 5-3z"/><path opacity=".3" d="M817 70v-8l7-4 7 4v8l-7 4-7-4z"/><path opacity=".75" d="M792 69V58l10-6 9 6v11l-9 5-10-5z"/><path opacity=".5" d="M247 74v-6l-5-3-5 3v6l5 3 5-3z"/><path opacity=".3" d="M278 70v-8l7-4 7 4v8l-7 4-7-4z"/><path opacity=".75" d="M253 69V58l9-6 10 6v11l-10 5-9-5z"/><path opacity=".5" d="M13 38V16L32 5l19 11v22L32 50 13 38z"/><path opacity=".3" d="M71 67V52l13-8 12 8v15l-12 7-13-7zM0 45V34l10-6 9 6v11l-9 5-10-5z"/><path opacity=".5" d="M15 63v-9l8-4 7 4v9l-7 4-8-4z"/><path opacity=".75" d="M37 55V39l14-8 14 8v16l-14 8-14-8zM208 72v-9l8-5 8 5v9l-8 4-8-4z"/><path opacity=".5" d="M59 40V26l12-7 11 7v14l-11 6-12-6zM112 46V24l19-12 19 12v22l-19 11-19-11z"/><path opacity=".3" d="M170 69V58l9-6 10 6v11l-10 5-9-5zM99 52V41l10-6 9 6v11l-9 5-10-5z"/><path opacity=".5" d="M114 70v-9l8-4 7 4v9l-7 4-8-4zM193 64v-6l6-3 5 3v6l-5 3-6-3z"/><path opacity=".75" d="M136 62V46l14-8 14 8v16l-14 8-14-8z"/><path opacity=".5" d="M158 47V33l12-6 11 6v14l-11 7-12-7zM516 39V17L496 5l-19 12v22l19 11 20-11z"/><path opacity=".3" d="M458 67V52l-13-7-13 7v15l13 8 13-8zM528 45V34l-9-6-10 6v11l10 5 9-5z"/><path opacity=".5" d="M511 60v-7l-5-3-6 3v7l6 3 5-3z"/><path opacity=".75" d="M491 55V39l-14-8-14 8v16l14 9 14-9zM320 72v-9l-8-4-7 4v9l8 5 7-5z"/><path opacity=".5" d="M470 40V26l-12-6-12 6v14l12 7 12-7zM417 46V24l-20-11-19 11v22l19 11 20-11z"/><path opacity=".3" d="M359 69V58l-10-5-9 5v11l9 6 10-6zM429 52V41l-9-5-10 5v11l10 6 9-6z"/><path opacity=".5" d="M414 70v-8l-7-4-8 4v8l8 5 7-5zM335 64v-6l-5-3-5 3v6l5 4 5-4z"/><path opacity=".75" d="M392 63V46l-14-8-14 9v16l14 8 14-8z"/><path opacity=".5" d="M371 47V34l-12-7-12 7v13l12 7 12-7zM552 38V16l19-11 19 11v22l-19 12-19-12z"/><path opacity=".3" d="M609 67V52l13-8 13 8v15l-13 7-13-7zM539 45V34l9-6 10 6v11l-10 5-9-5z"/><path opacity=".5" d="M554 63v-9l8-4 7 4v9l-7 4-8-4z"/><path opacity=".75" d="M576 55V39l14-8 14 8v16l-14 8-14-8zM747 72v-9l8-5 8 5v9l-8 4-8-4z"/><path opacity=".5" d="M598 40V26l11-7 12 7v14l-12 6-11-6zM651 46V24l19-12 19 12v22l-19 11-19-11z"/><path opacity=".3" d="M708 69V58l10-6 10 6v11l-10 5-10-5zM638 52V41l9-6 10 6v11l-10 5-9-5z"/><path opacity=".5" d="M653 70v-9l8-4 7 4v9l-7 4-8-4zM732 64v-6l5-3 6 3v6l-6 3-5-3z"/><path opacity=".75" d="M675 62V46l14-8 14 8v16l-14 8-14-8z"/><path opacity=".5" d="M697 47V33l11-6 12 6v14l-12 7-11-7zM1054 39V17l-19-12-19 12v22l19 11 19-11z"/><path opacity=".3" d="M997 67V52l-13-7-13 7v15l13 8 13-8zM1067 45V34l-9-6-10 6v11l10 5 9-5z"/><path opacity=".5" d="M1050 60v-7l-6-3-5 3v7l5 3 6-3z"/><path opacity=".75" d="M1030 55V39l-14-8-14 8v16l14 9 14-9zM859 72v-9l-8-4-8 4v9l8 5 8-5z"/><path opacity=".5" d="M1008 40V26l-11-6-12 6v14l12 7 11-7zM955 46V24l-19-11-19 11v22l19 11 19-11z"/><path opacity=".3" d="M898 69V58l-10-5-10 5v11l10 6 10-6zM968 52V41l-9-5-10 5v11l10 6 9-6z"/><path opacity=".5" d="M953 70v-8l-8-4-7 4v8l7 5 8-5zM874 64v-6l-5-3-6 3v6l6 4 5-4z"/><path opacity=".75" d="M931 63V46l-14-8-14 9v16l14 8 14-8z"/><path opacity=".5" d="M909 47V34l-11-7-12 7v13l12 7 11-7zM1090 38V16l20-11 19 11v22l-19 12-20-12z"/><path opacity=".3" d="M1148 67V52l13-8 13 8v15l-13 7-13-7zM1078 45V34l9-6 10 6v11l-10 5-9-5z"/><path opacity=".5" d="M1093 63v-9l7-4 8 4v9l-8 4-7-4z"/><path opacity=".75" d="M1115 55V39l14-8 14 8v16l-14 8-14-8zM1286 72v-9l8-5 7 5v9l-7 4-8-4z"/><path opacity=".5" d="M1136 40V26l12-7 12 7v14l-12 6-12-6zM1189 46V24l20-12 19 12v22l-19 11-20-11z"/><path opacity=".3" d="M1247 69V58l10-6 9 6v11l-9 5-10-5zM1177 52V41l9-6 10 6v11l-10 5-9-5z"/><path opacity=".5" d="M1192 70v-9l7-4 8 4v9l-8 4-7-4zM1271 64v-6l5-3 5 3v6l-5 3-5-3z"/><path opacity=".75" d="M1214 62V46l14-8 14 8v16l-14 8-14-8z"/><path opacity=".5" d="M1235 47V33l12-6 12 6v14l-12 7-12-7zM1593 39V17l-19-12-19 12v22l19 11 19-11z"/><path opacity=".3" d="M1535 67V52l-13-7-12 7v15l13 8 12-8zM1606 45V34l-10-6-9 6v11l9 5 10-5z"/><path opacity=".5" d="M1589 60v-7l-6-3-5 3v7l5 3 6-3z"/><path opacity=".75" d="M1569 55V39l-14-8-14 8v16l14 9 14-9zM1398 72v-9l-8-4-8 4v9l8 5 8-5z"/><path opacity=".5" d="M1547 40V26l-12-6-11 6v14l11 7 12-7zM1494 46V24l-19-11-19 11v22l19 11 19-11z"/><path opacity=".3" d="M1436 69V58l-9-5-10 5v11l10 6 9-6zM1507 52V41l-10-5-9 5v11l10 6 9-6z"/><path opacity=".5" d="M1492 70v-8l-8-4-7 4v8l7 5 8-5zM1413 64v-6l-6-3-5 3v6l6 4 5-4z"/><path opacity=".75" d="M1470 63V46l-14-8-14 9v16l14 8 14-8z"/><path opacity=".5" d="M1448 47V34l-12-7-11 7v13l11 7 12-7zM1629 38V16l19-11 20 11v22l-20 12-19-12z"/><path opacity=".3" d="M1687 67V52l13-8 13 8v15l-13 7-13-7zM1616 45V34l10-6 9 6v11l-9 5-10-5z"/><path opacity=".5" d="M1632 63v-9l7-4 8 4v9l-8 4-7-4z"/><path opacity=".75" d="M1653 55V39l15-8 14 8v16l-14 8-15-8zM1824 72v-9l8-5 8 5v9l-8 4-8-4z"/><path opacity=".5" d="M1675 40V26l12-7 12 7v14l-12 6-12-6zM1728 46V24l19-12 20 12v22l-20 11-19-11z"/><path opacity=".3" d="M1786 69V58l9-6 10 6v11l-10 5-9-5zM1715 52V41l10-6 9 6v11l-9 5-10-5z"/><path opacity=".5" d="M1731 70v-9l7-4 8 4v9l-8 4-7-4zM1809 64v-6l6-3 5 3v6l-5 3-6-3z"/><path opacity=".75" d="M1752 62V46l15-8 14 8v16l-14 8-15-8z"/><path opacity=".5" d="M1774 47V33l12-6 12 6v14l-12 7-12-7z"/><path opacity=".75" d="M1937 72v-9l-8-4-8 4v9l8 5 8-5z"/><path opacity=".3" d="M1975 69V58l-9-5-10 5v11l10 6 9-6z"/><path opacity=".5" d="M1952 64v-6l-6-3-5 3v6l5 4 6-4z"/><path opacity=".75" d="M2000 42v26l-5 3-15-8V47l7-4 8-5 5 4z"/><path opacity=".5" d="M1987 47V34l-12-7-12 7v13l12 7 12-7z"/><path d="M2000 0v38l-115 22-4 1-26 5-17-4h-5l-243-47-230 44-3 1-32 6-11-2-6-1-248-48-225 43h-2l-38 8-5-1-6-1-254-49-219 42h-1l-44 8-1 1-6-1-44-9L0 15V0h2000z"/></g></svg>'); 
}
@media (min-width:2100px){
	.shapedividers_solution_down1::before{
	background-size: 100% calc(2vw + 45px);
	}
}
	 
	 