 /*---------------------------------------
  TIMELINE              
-----------------------------------------*/
.timeline-section {
	background-image: url('https://t2biomod2024.github.io/2024/pics/gan.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	border-radius: 20px;
	padding-top: 50px;
  }
  
  .timeline-container .vertical-scrollable-timeline {
	list-style-type: none;
	position: relative;
	padding-left: 0;
  }
  
  .timeline-container .vertical-scrollable-timeline .list-progress {
	width: 8px;
	height: 87%;
	background-color: var(--primary-color);
	position: absolute;
	left: 52px;
	top: 10px;
	overflow: hidden;
  }
  
  .timeline-container .vertical-scrollable-timeline .list-progress .inner {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	background-color: var(--secondary-color);
	width: 100%;
  }
  
  .timeline-container .vertical-scrollable-timeline li {
	position: relative;
	padding: 20px 0px 65px 145px;
  }
  
  .timeline-container .vertical-scrollable-timeline li:last-child {
	padding-bottom: 0;
  }
  
  .timeline-container .vertical-scrollable-timeline li p {
	line-height: 40px;
  }
  
  .timeline-container .vertical-scrollable-timeline li p:last-child {
	margin-bottom: 0;
  }
  
  .timeline-container .vertical-scrollable-timeline li .icon-holder {
	position: absolute;
	left: 0;
	top: 0;
	width: 104px;
	height: 104px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-color);
	border-radius: 50%;
	z-index: 1;
	transition: 0.4s all;
  }
  
  .timeline-container .vertical-scrollable-timeline li .icon-holder::before {
	content: "";
	width: 80px;
	height: 80px;
	border: 4px solid #eee;
	position: absolute;
	background-color: var(--secondary-color);
	border-radius: 50%;
	z-index: -1;
	transition: 0.4s all;
  }
  
  .timeline-container .vertical-scrollable-timeline li .icon-holder i {
	font-size: 25px;
	color: var(--white-color);
  }
  
  .timeline-container .vertical-scrollable-timeline li::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 8px;
	background-color: transparent;
	left: 52px;
	z-index: 0;
  }
  
  .timeline-container .vertical-scrollable-timeline li.active .icon-holder {
	background-color: var(--primary-color);
  }
  
  .timeline-container .vertical-scrollable-timeline li.active .icon-holder::before {
	background-color: var(--primary-color);
  }  


/* VIDEO */
.video-container {
    width: 50%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    position: relative;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* image container */
.img-container {
	background-image: url('https://t2biomod2024.github.io/2024/pics/team1.jpeg');
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
    width: 70%;
    height: 50vh;
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.img-container:hover::after {
    opacity: 1;
}
.img-contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
	z-index: 2;
}

.img-container:hover .img-contain {
    opacity: 1;
}

/* bg2-container */
.bg2-container {
	margin: 0 auto 10vh;
	padding-top: 50px;
	width: 70%;
}

/* PA */
.ProjectArea-section {
	background-size: cover;
	width: 60%;
	margin: 0 auto;
	border-radius: 20px;
	padding-top: 50px;
}

/* custom-block */
.custom-block {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: var(--border-radius-medium);
	position: relative;
	overflow: hidden;
	height: 100%;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
	border-radius: 20px;
	transition: box-shadow 0.3s;
	word-wrap: break-word;
}

.custom-block:hover .titleA:after {
	width: 25px;
}

.custom-block div {
    flex: 1;
}

.custom-block img {
    width: auto;
    height: 200px;
    border-radius: 5%;
	background: #fff;
}

.custom-block .titleA{
	color: #6f6f6f;
	display: inline-block;
	font-size: 24px;
	font-weight: 100;
	transition: color 0.3s;
}

.custom-block .titleA:after {
	content: "";
	position: relative;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
	display: block;
	width: 40px;
	height: 1px;
	transition: width 0.3s;
}

.custom-block:hover {
	background-color: var(--secondary-color);
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	transform: translateY(-3px);
}
  
.custom-block > a {
	width: 100%;
}

.custom-block:hover p {
	color: #555;
}

.custom-block:hover .titleA {
	color: #63B7E6;
}

.textA {
	color: #A2A2A2;
	text-align: left;
	text-indent: 1em;
	font-size: 16px;
	line-height: 26px;
	transition: color 0.3s;
	margin-top: 15px;
}

.tx-container {
    display: flex;
    flex-direction: column;
}

/*　section　*/
.shapedividers_com-2149{
	background: #eee;
	overflow:hidden;
	position:relative;
	margin-left: calc(-1 * var(--global-space));
	margin-right: calc(-1 * var(--global-space));
	height: 100px;
	}
	.shapedividers_com-2149::before{ 
	content:'';
	position: absolute;
	z-index: 3;
	pointer-events: none;
	background-repeat: no-repeat;
	bottom: -0.1vw;
	left: -0.1vw;
	right: -0.1vw;
	top: -0.1vw; 
	background-size: 100% 90px;
	background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 381 77.25" preserveAspectRatio="none"><g fill="%237f96c2"><path d="M381 8.47L0 42.33V0h381z"/><path d="M381 33.87L0 59.27V0h381z" opacity=".33"/><path d="M381 59.27L0 77.25V0h381z" opacity=".33"/></g></svg>'); 
	}
	
	@media (min-width:2100px){
	.shapedividers_com-2149::before{
	background-size: 100% calc(2vw + 90px);
	}
}

.shapedividers_com-2587{
	overflow:hidden;
	position:relative;
	margin-left: calc(-1 * var(--global-space));
	margin-right: calc(-1 * var(--global-space));
	height: 100px;
	}
	.shapedividers_com-2587::before{ 
	content:'';
	position: absolute;
	z-index: 3;
	pointer-events: none;
	background-repeat: no-repeat;
	bottom: -0.1vw;
	left: -0.1vw;
	right: -0.1vw;
	top: -0.1vw; 
	background-size: 100% 90px;
	background-position: 50% 0%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.278 3.527" preserveAspectRatio="none"><path d="M0 1.064v.125a82.946 82.946 0 0035.278-.007v-.125A82.783 82.783 0 010 1.064M0 .45V.7A83.105 83.105 0 0035.278.693v-.25A82.777 82.777 0 010 .45M33.252 0a82.855 82.855 0 01-31.26 0H0v.092A83.44 83.44 0 0035.278.085V0zm-10.8 0h8.84A84.249 84.249 0 013.952 0h8.839zM0 1.557v.075a82.878 82.878 0 0035.278-.007V1.55A82.771 82.771 0 010 1.557" fill="%231c3177"/></svg>'); 
	}
	
	@media (min-width:2100px){
	.shapedividers_com-2587::before{
	background-size: 100% calc(2vw + 90px);
	}
}

.shapedividers_com-4959{
	overflow:hidden;
	position:relative;
	}
	.shapedividers_com-4959::before{ 
	content:'';
	position: absolute;
	z-index: 3;
	pointer-events: none;
	background-repeat: no-repeat;
	bottom: -0.1vw;
	left: -0.1vw;
	right: -0.1vw;
	top: -0.1vw; 
	background-size: 100% 90px;
	background-position: 50% 100%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.278 3.527" preserveAspectRatio="none"><path d="M35.278 2.463v-.125A82.946 82.946 0 000 2.345v.125a82.783 82.783 0 0135.278-.007m0 .615v-.25A83.105 83.105 0 000 2.835v.25a82.777 82.777 0 0135.278-.007m-33.252.45a82.855 82.855 0 0131.26 0h1.992v-.093A83.44 83.44 0 000 3.442v.085zm10.8 0h-8.84a84.249 84.249 0 0127.339 0h-8.839zM35.278 1.97v-.075A82.878 82.878 0 000 1.902v.075a82.771 82.771 0 0135.278-.007" fill="%231c3177"/></svg>'); 
	}
	
	@media (min-width:2100px){
	.shapedividers_com-4959::before{
	background-size: 100% calc(2vw + 90px);
	}
} 
	 