 /*---------------------------------------
  TIMELINE              
-----------------------------------------*/
.timeline-section {
	background-image: url('https://t2biomod2024.github.io/2024/pics/gan.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	border-radius: 20px;
	padding-top: 50px;
  }
  
  .timeline-container .vertical-scrollable-timeline {
	list-style-type: none;
	position: relative;
	padding-left: 0;
  }
  
  .timeline-container .vertical-scrollable-timeline .list-progress {
	width: 8px;
	height: 87%;
	background-color: var(--primary-color);
	position: absolute;
	left: 52px;
	top: 10px;
	overflow: hidden;
  }
  
  .timeline-container .vertical-scrollable-timeline .list-progress .inner {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 100%;
	background-color: var(--secondary-color);
	width: 100%;
  }
  
  .timeline-container .vertical-scrollable-timeline li {
	position: relative;
	padding: 20px 0px 65px 145px;
  }
  
  .timeline-container .vertical-scrollable-timeline li:last-child {
	padding-bottom: 0;
  }
  
  .timeline-container .vertical-scrollable-timeline li p {
	line-height: 40px;
  }
  
  .timeline-container .vertical-scrollable-timeline li p:last-child {
	margin-bottom: 0;
  }
  
  .timeline-container .vertical-scrollable-timeline li .icon-holder {
	position: absolute;
	left: 0;
	top: 0;
	width: 104px;
	height: 104px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-color);
	border-radius: 50%;
	z-index: 1;
	transition: 0.4s all;
  }
  
  .timeline-container .vertical-scrollable-timeline li .icon-holder::before {
	content: "";
	width: 80px;
	height: 80px;
	border: 4px solid #eee;
	position: absolute;
	background-color: var(--secondary-color);
	border-radius: 50%;
	z-index: -1;
	transition: 0.4s all;
  }
  
  .timeline-container .vertical-scrollable-timeline li .icon-holder i {
	font-size: 25px;
	color: var(--white-color);
  }
  
  .timeline-container .vertical-scrollable-timeline li::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 8px;
	background-color: transparent;
	left: 52px;
	z-index: 0;
  }
  
  .timeline-container .vertical-scrollable-timeline li.active .icon-holder {
	background-color: var(--primary-color);
  }
  
  .timeline-container .vertical-scrollable-timeline li.active .icon-holder::before {
	background-color: var(--primary-color);
  }  


/* VIDEO */
.video-container {
    width: 50%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
    position: relative;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* image container */
.img-container {
	background-image: url('https://t2biomod2024.github.io/2024/pics/team1.jpeg');
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
    width: 70%;
    height: 50vh;
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}
.img-container:hover::after {
    opacity: 1;
}
.img-contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.img-contain:hover {
    opacity: 1;
	z-index: 2;
}

/* bg2-container */
.bg2-container {
	border-radius: 20px;
	padding-top: 50px;
  }