/* TEAM */
.list-grid1 {
	display: grid;
	color: #555;
}

.list-grid1 .list {
    display: grid;
}

.list-grid1 .list * {
	margin: 0;padding: 0;
}

.list-grid1 .list p {
	font-size: 0.85rem;
}

	@media screen and (min-width:500px) {
	.list-grid1 {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
	}

	@media screen and (min-width:800px) {
	.list-grid1 {
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}
	}

.list-grid1 .list {
	padding: 1rem;
	background: #eee;
    grid-template-rows: auto 1fr;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.1);
}

.list-grid1 .list figure img {
	margin-bottom: 0.5rem;
}

.AI{
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
/* BANNO */
.banno{
  text-align: left;
  justify-content: end;
}
.banno img{
  width: 100px;
  height: auto;
}

/* GLOBAL VARIABLES */
@keyframes zoom {
  from {
    object-position: 0 50%;
  }
  to {
    object-position: 100% 50%;
  }
}
@keyframes blur {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(2, 2);
  }
}